# [dbo].[Alter_Ego_Person_Temporal_History]

In [ ]:
/****** Object:  Table [dbo].[Alter_Ego_Person_Temporal_History]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person_Temporal_History]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alter_Ego_Person_Temporal_History](
	[Alter_Ego_Person_ID] [int] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Alter_Ego_ID] [int] NOT NULL,
	[Sys_Start_Time] [datetime2](7) NOT NULL,
	[Sys_End_Time] [datetime2](7) NOT NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Alter_Ego_Person_Temporal_History] TO  SCHEMA OWNER 
GO

# [ix_Alter_Ego_Person_Temporal_History]

In [ ]:
/****** Object:  Index [ix_Alter_Ego_Person_Temporal_History]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person_Temporal_History]') AND name = N'ix_Alter_Ego_Person_Temporal_History')
CREATE CLUSTERED INDEX [ix_Alter_Ego_Person_Temporal_History] ON [dbo].[Alter_Ego_Person_Temporal_History]
(
	[Sys_End_Time] ASC,
	[Sys_Start_Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [dbo].[Alter_Ego_Person]

In [ ]:
/****** Object:  Table [dbo].[Alter_Ego_Person]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alter_Ego_Person](
	[Alter_Ego_Person_ID] [int] IDENTITY(1,1) NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Alter_Ego_ID] [int] NOT NULL,
	[Sys_Start_Time] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[Sys_End_Time] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_Alter_Ego_Person] PRIMARY KEY CLUSTERED 
(
	[Alter_Ego_Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([Sys_Start_Time], [Sys_End_Time])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [dbo].[Alter_Ego_Person_Temporal_History] )
)
END
GO
ALTER AUTHORIZATION ON [dbo].[Alter_Ego_Person] TO  SCHEMA OWNER 
GO

# [dbo].[Alter_Ego]

In [ ]:
/****** Object:  Table [dbo].[Alter_Ego]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alter_Ego](
	[Alter_Ego_ID] [int] IDENTITY(1,1) NOT NULL,
	[Alter_Ego_Name] [varchar](50) NOT NULL,
	[Comic_Universe_ID] [int] NOT NULL,
 CONSTRAINT [PK_Alter_Ego] PRIMARY KEY CLUSTERED 
(
	[Alter_Ego_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Alter_Ego] TO  SCHEMA OWNER 
GO

# [dbo].[Alter_Ego_Person_History]

In [ ]:
/****** Object:  Table [dbo].[Alter_Ego_Person_History]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person_History]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alter_Ego_Person_History](
	[Alter_Ego_Person_History_ID] [int] IDENTITY(1,1) NOT NULL,
	[History_Date] [datetime] NOT NULL,
	[ChangeType] [char](1) NOT NULL,
	[Old_Alter_Ego_ID] [int] NULL,
	[Old_Person_ID] [int] NULL,
	[New_Alter_Ego_ID] [int] NULL,
	[New_Person_ID] [int] NULL,
 CONSTRAINT [PK_Alter_Ego_Person_History] PRIMARY KEY CLUSTERED 
(
	[Alter_Ego_Person_History_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Alter_Ego_Person_History] TO  SCHEMA OWNER 
GO

# [dbo].[Comic_Universe]

In [ ]:
/****** Object:  Table [dbo].[Comic_Universe]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comic_Universe]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Comic_Universe](
	[Comic_Universe_ID] [int] IDENTITY(1,1) NOT NULL,
	[Comic_Universe_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Comic_Universe] PRIMARY KEY CLUSTERED 
(
	[Comic_Universe_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Comic_Universe] TO  SCHEMA OWNER 
GO

# [dbo].[Corporation]

In [ ]:
/****** Object:  Table [dbo].[Corporation]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Corporation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Corporation](
	[Corporation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Corporation_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Corporation] PRIMARY KEY CLUSTERED 
(
	[Corporation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Corporation] TO  SCHEMA OWNER 
GO

# [dbo].[ETL_Error_Log]

In [ ]:
/****** Object:  Table [dbo].[ETL_Error_Log]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ETL_Error_Log]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ETL_Error_Log](
	[ETL_Error_Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[Error_Description] [varchar](500) NULL,
	[CSV_Data] [varchar](1000) NULL,
	[Error_Timestamp] [datetime] NULL,
 CONSTRAINT [PK_ETL_Error_Log] PRIMARY KEY CLUSTERED 
(
	[ETL_Error_Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ETL_Error_Log] TO  SCHEMA OWNER 
GO

# [dbo].[Gadget]

In [ ]:
/****** Object:  Table [dbo].[Gadget]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gadget]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Gadget](
	[Gadget_ID] [int] IDENTITY(1,1) NOT NULL,
	[Gadget_Name] [varchar](50) NOT NULL,
	[Gadget_Desc] [varchar](254) NULL,
 CONSTRAINT [PK_Gadget] PRIMARY KEY CLUSTERED 
(
	[Gadget_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Gadget] TO  SCHEMA OWNER 
GO

# [dbo].[Gadget_Order_Form]

In [ ]:
/****** Object:  Table [dbo].[Gadget_Order_Form]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Gadget_Order_Form](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_Date] [datetime] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Corporation_ID] [int] NULL,
	[Gadget_ID] [int] NOT NULL,
	[Number_Ordered] [int] NOT NULL,
	[Price_Per_Item] [numeric](19, 2) NOT NULL,
	[Tax] [numeric](19, 2) NOT NULL,
	[Shipping] [numeric](19, 2) NOT NULL,
	[Total_Due] [numeric](19, 2) NOT NULL,
 CONSTRAINT [PK_Gadget_Order_Form] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Gadget_Order_Form] TO  SCHEMA OWNER 
GO

# [dbo].[Good_Deed_History]

In [ ]:
/****** Object:  Table [dbo].[Good_Deed_History]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Good_Deed_History]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Good_Deed_History](
	[Good_Deed_History_ID] [int] IDENTITY(1,1) NOT NULL,
	[Good_Deed_Type_ID] [tinyint] NULL,
	[Good_Deed_Person_ID] [int] NULL,
	[Good_Deed_Description] [varchar](250) NULL,
	[Good_Deed_Timestamp] [datetime] NULL,
 CONSTRAINT [PK_Good_Deed_History] PRIMARY KEY CLUSTERED 
(
	[Good_Deed_History_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Good_Deed_History] TO  SCHEMA OWNER 
GO

# [dbo].[Good_Deed_Type]

In [ ]:
/****** Object:  Table [dbo].[Good_Deed_Type]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Good_Deed_Type]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Good_Deed_Type](
	[Good_Deed_Type_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Good_Deed_Type_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Good_Deed_Type] PRIMARY KEY CLUSTERED 
(
	[Good_Deed_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Good_Deed_Type] TO  SCHEMA OWNER 
GO

# [dbo].[MSSQL_TemporalHistoryFor_725577623]

In [ ]:
/****** Object:  Table [dbo].[MSSQL_TemporalHistoryFor_725577623]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MSSQL_TemporalHistoryFor_725577623]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MSSQL_TemporalHistoryFor_725577623](
	[Alter_Ego_Person_ID] [int] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Alter_Ego_ID] [int] NOT NULL,
	[Sys_Start_Time] [datetime2](7) NOT NULL,
	[Sys_End_Time] [datetime2](7) NOT NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[MSSQL_TemporalHistoryFor_725577623] TO  SCHEMA OWNER 
GO

# [ix_MSSQL_TemporalHistoryFor_725577623]

In [ ]:
/****** Object:  Index [ix_MSSQL_TemporalHistoryFor_725577623]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[MSSQL_TemporalHistoryFor_725577623]') AND name = N'ix_MSSQL_TemporalHistoryFor_725577623')
CREATE CLUSTERED INDEX [ix_MSSQL_TemporalHistoryFor_725577623] ON [dbo].[MSSQL_TemporalHistoryFor_725577623]
(
	[Sys_End_Time] ASC,
	[Sys_Start_Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [dbo].[Person]

In [ ]:
/****** Object:  Table [dbo].[Person]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Person]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Person](
	[Person_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Person] TO  SCHEMA OWNER 
GO

# [dbo].[Alter_Ego]

In [ ]:
SET IDENTITY_INSERT [dbo].[Alter_Ego] ON 
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (1, N'Average Citizen', 1)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (2, N'Black Widow', 2)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (3, N'Spider Girl', 2)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (5, N'Catwoman', 3)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (6, N'Super Girl', 3)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (7, N'Wonder Woman', 3)
SET IDENTITY_INSERT [dbo].[Alter_Ego] OFF
GO

# [dbo].[Alter_Ego_Person]

In [ ]:
SET IDENTITY_INSERT [dbo].[Alter_Ego_Person] ON 
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (1, 1, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T02:54:37.5082341' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (4, 4, 6, CAST(N'2020-10-27T01:38:20.4090519' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (5, 5, 5, CAST(N'2020-10-27T01:38:20.4173076' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (6, 6, 3, CAST(N'2020-10-27T01:38:20.4213994' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (7, 7, 2, CAST(N'2020-10-27T01:38:20.4297381' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (8, 8, 8, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T02:54:37.4747119' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (13, 19, 1, CAST(N'2020-10-27T03:03:45.4752615' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (14, 18, 1, CAST(N'2020-10-27T03:03:45.4752615' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (15, 17, 1, CAST(N'2020-10-27T03:03:45.4752615' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (19, 13, 1, CAST(N'2020-10-27T03:03:45.4752615' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Alter_Ego_Person] OFF
GO

# [dbo].[Alter_Ego_Person_History]

In [ ]:
SET IDENTITY_INSERT [dbo].[Alter_Ego_Person_History] ON 
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (1, CAST(N'2020-10-27T01:36:11.613' AS DateTime), N'I', NULL, NULL, 1, 1)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (2, CAST(N'2020-10-27T01:36:11.613' AS DateTime), N'I', NULL, NULL, 1, 2)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (3, CAST(N'2020-10-27T01:36:11.613' AS DateTime), N'I', NULL, NULL, 1, 3)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (4, CAST(N'2020-10-27T01:36:11.613' AS DateTime), N'I', NULL, NULL, 1, 4)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (5, CAST(N'2020-10-27T01:36:11.613' AS DateTime), N'I', NULL, NULL, 1, 5)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (6, CAST(N'2020-10-27T01:36:11.613' AS DateTime), N'I', NULL, NULL, 1, 6)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (7, CAST(N'2020-10-27T01:36:11.613' AS DateTime), N'I', NULL, NULL, 1, 7)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (8, CAST(N'2020-10-27T01:36:11.613' AS DateTime), N'I', NULL, NULL, 1, 8)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (9, CAST(N'2020-10-27T01:36:13.903' AS DateTime), N'U', 1, 2, 7, 2)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (10, CAST(N'2020-10-27T01:36:22.860' AS DateTime), N'D', 7, 2, NULL, NULL)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (11, CAST(N'2020-10-27T01:36:31.087' AS DateTime), N'I', NULL, NULL, 1, 9)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (12, CAST(N'2020-10-27T01:36:43.733' AS DateTime), N'D', 1, 9, NULL, NULL)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (13, CAST(N'2020-10-27T01:36:57.137' AS DateTime), N'I', NULL, NULL, 1, 10)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (14, CAST(N'2020-10-27T01:37:10.810' AS DateTime), N'I', NULL, NULL, 1, 11)
SET IDENTITY_INSERT [dbo].[Alter_Ego_Person_History] OFF
GO

# [dbo].[Alter_Ego_Person_Temporal_History]

In [ ]:
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-10-27T01:38:20.3793340' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (4, 4, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-10-27T01:38:20.4090519' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (5, 5, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-10-27T01:38:20.4173076' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (6, 6, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-10-27T01:38:20.4213994' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (7, 7, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-10-27T01:38:20.4297381' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:11.5398250' AS DateTime2), CAST(N'2020-10-27T01:38:26.0021918' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:20.3793340' AS DateTime2), CAST(N'2020-10-27T01:38:26.0230699' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:26.0021918' AS DateTime2), CAST(N'2020-10-27T01:38:30.5735503' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:26.0230699' AS DateTime2), CAST(N'2020-10-27T01:38:30.5944176' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:30.5735503' AS DateTime2), CAST(N'2020-10-27T01:38:33.7484242' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:30.5944176' AS DateTime2), CAST(N'2020-10-27T01:38:33.7567959' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:33.7484242' AS DateTime2), CAST(N'2020-10-27T01:38:33.7650899' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:33.7567959' AS DateTime2), CAST(N'2020-10-27T01:38:33.7692273' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:33.7650899' AS DateTime2), CAST(N'2020-10-27T01:38:33.8941676' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:33.7692273' AS DateTime2), CAST(N'2020-10-27T01:38:33.9317374' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:33.8941676' AS DateTime2), CAST(N'2020-10-27T01:38:33.9400282' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:33.9317374' AS DateTime2), CAST(N'2020-10-27T01:38:33.9484263' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:33.9400282' AS DateTime2), CAST(N'2020-10-27T01:38:34.0652813' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:33.9484263' AS DateTime2), CAST(N'2020-10-27T01:38:34.0738126' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:34.0652813' AS DateTime2), CAST(N'2020-10-27T01:38:34.0819902' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:34.0738126' AS DateTime2), CAST(N'2020-10-27T01:38:34.0861156' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:34.0819902' AS DateTime2), CAST(N'2020-10-27T01:38:34.1900961' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:34.0861156' AS DateTime2), CAST(N'2020-10-27T01:38:34.1984570' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:34.1900961' AS DateTime2), CAST(N'2020-10-27T01:38:34.2067234' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:34.1984570' AS DateTime2), CAST(N'2020-10-27T01:38:34.2149738' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:34.2067234' AS DateTime2), CAST(N'2020-10-27T01:38:34.3450668' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:34.2149738' AS DateTime2), CAST(N'2020-10-27T01:38:34.3617090' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:34.3450668' AS DateTime2), CAST(N'2020-10-27T01:38:34.3699781' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:34.3617090' AS DateTime2), CAST(N'2020-10-27T01:38:34.3740845' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:34.3699781' AS DateTime2), CAST(N'2020-10-27T01:38:34.4869097' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:34.3740845' AS DateTime2), CAST(N'2020-10-27T01:38:34.4951946' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:34.4869097' AS DateTime2), CAST(N'2020-10-27T01:38:34.4993689' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:34.4951946' AS DateTime2), CAST(N'2020-10-27T01:38:34.5075770' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:34.4993689' AS DateTime2), CAST(N'2020-10-27T01:38:34.6329236' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:34.5075770' AS DateTime2), CAST(N'2020-10-27T01:38:34.6538629' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:34.6329236' AS DateTime2), CAST(N'2020-10-27T01:38:34.6621640' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:34.6538629' AS DateTime2), CAST(N'2020-10-27T01:38:34.6663408' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:34.6621640' AS DateTime2), CAST(N'2020-10-27T01:38:34.8083372' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:34.6663408' AS DateTime2), CAST(N'2020-10-27T01:38:34.8168275' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:34.8083372' AS DateTime2), CAST(N'2020-10-27T01:38:34.8251029' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:34.8168275' AS DateTime2), CAST(N'2020-10-27T01:38:34.8291975' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:34.8251029' AS DateTime2), CAST(N'2020-10-27T01:38:34.9163241' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:34.8291975' AS DateTime2), CAST(N'2020-10-27T01:38:34.9204319' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:34.9163241' AS DateTime2), CAST(N'2020-10-27T01:38:34.9287100' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:34.9204319' AS DateTime2), CAST(N'2020-10-27T01:38:34.9330252' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:34.9287100' AS DateTime2), CAST(N'2020-10-27T01:38:35.0329142' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:34.9330252' AS DateTime2), CAST(N'2020-10-27T01:38:35.0371073' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:35.0329142' AS DateTime2), CAST(N'2020-10-27T01:38:35.0455382' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:35.0371073' AS DateTime2), CAST(N'2020-10-27T01:38:35.0538844' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:35.0455382' AS DateTime2), CAST(N'2020-10-27T01:38:35.1624214' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:35.0538844' AS DateTime2), CAST(N'2020-10-27T01:38:35.1749549' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:35.1624214' AS DateTime2), CAST(N'2020-10-27T01:38:35.1791573' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:35.1749549' AS DateTime2), CAST(N'2020-10-27T01:38:35.1874479' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:35.1791573' AS DateTime2), CAST(N'2020-10-27T01:38:35.3003406' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:35.1874479' AS DateTime2), CAST(N'2020-10-27T01:38:35.3209816' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:35.3003406' AS DateTime2), CAST(N'2020-10-27T01:38:35.3251143' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:35.3209816' AS DateTime2), CAST(N'2020-10-27T01:38:35.3334375' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:35.3251143' AS DateTime2), CAST(N'2020-10-27T01:38:35.4417632' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:35.3334375' AS DateTime2), CAST(N'2020-10-27T01:38:35.4502206' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:35.4417632' AS DateTime2), CAST(N'2020-10-27T01:38:35.4544305' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:35.4502206' AS DateTime2), CAST(N'2020-10-27T01:38:35.4627214' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:35.4544305' AS DateTime2), CAST(N'2020-10-27T01:38:35.5542078' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:35.4627214' AS DateTime2), CAST(N'2020-10-27T01:38:35.5583421' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:35.5542078' AS DateTime2), CAST(N'2020-10-27T01:38:35.5666357' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:35.5583421' AS DateTime2), CAST(N'2020-10-27T01:38:35.5748943' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:35.5666357' AS DateTime2), CAST(N'2020-10-27T01:38:35.6833166' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:35.5748943' AS DateTime2), CAST(N'2020-10-27T01:38:35.6916107' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:35.6833166' AS DateTime2), CAST(N'2020-10-27T01:38:35.6998938' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:35.6916107' AS DateTime2), CAST(N'2020-10-27T01:38:35.7040141' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:35.6998938' AS DateTime2), CAST(N'2020-10-27T01:38:35.8080486' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:35.7040141' AS DateTime2), CAST(N'2020-10-27T01:38:35.8163965' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:35.8080486' AS DateTime2), CAST(N'2020-10-27T01:38:35.8205281' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:35.8163965' AS DateTime2), CAST(N'2020-10-27T01:38:35.8287565' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:35.8205281' AS DateTime2), CAST(N'2020-10-27T01:38:35.9375367' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:35.8287565' AS DateTime2), CAST(N'2020-10-27T01:38:35.9583497' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:35.9375367' AS DateTime2), CAST(N'2020-10-27T01:38:35.9624743' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:35.9583497' AS DateTime2), CAST(N'2020-10-27T01:38:35.9707046' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:35.9624743' AS DateTime2), CAST(N'2020-10-27T01:38:36.0710485' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:35.9707046' AS DateTime2), CAST(N'2020-10-27T01:38:36.0793574' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:36.0710485' AS DateTime2), CAST(N'2020-10-27T01:38:36.0876686' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:36.0793574' AS DateTime2), CAST(N'2020-10-27T01:38:36.0917943' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:36.0876686' AS DateTime2), CAST(N'2020-10-27T01:38:36.1831406' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:36.0917943' AS DateTime2), CAST(N'2020-10-27T01:38:36.1873117' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:36.1831406' AS DateTime2), CAST(N'2020-10-27T01:38:36.1956253' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:36.1873117' AS DateTime2), CAST(N'2020-10-27T01:38:36.1997328' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:36.1956253' AS DateTime2), CAST(N'2020-10-27T01:38:36.2955279' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:36.1997328' AS DateTime2), CAST(N'2020-10-27T01:38:36.3037011' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:38:36.2955279' AS DateTime2), CAST(N'2020-10-27T01:38:36.3119699' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:38:36.3037011' AS DateTime2), CAST(N'2020-10-27T01:38:36.3202803' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 1, CAST(N'2020-10-27T01:38:36.3119699' AS DateTime2), CAST(N'2020-10-27T01:39:00.5608442' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 7, CAST(N'2020-10-27T01:38:36.3202803' AS DateTime2), CAST(N'2020-10-27T01:39:00.5818253' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 12, 7, CAST(N'2020-10-27T01:39:00.5608442' AS DateTime2), CAST(N'2020-10-27T02:54:37.4747119' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'2020-10-27T01:39:00.5818253' AS DateTime2), CAST(N'2020-10-27T02:54:37.5082341' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (18, 14, 1, CAST(N'2020-10-27T03:03:45.4752615' AS DateTime2), CAST(N'2020-10-27T14:12:49.3155678' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (17, 15, 1, CAST(N'2020-10-27T03:03:45.4752615' AS DateTime2), CAST(N'2020-10-27T14:12:49.3155678' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (16, 16, 1, CAST(N'2020-10-27T03:03:45.4752615' AS DateTime2), CAST(N'2020-10-27T14:12:49.3155678' AS DateTime2))
GO

# [dbo].[Comic_Universe]

In [ ]:
SET IDENTITY_INSERT [dbo].[Comic_Universe] ON 
INSERT [dbo].[Comic_Universe] ([Comic_Universe_ID], [Comic_Universe_Name]) VALUES (4, N'Cartoon Network')
INSERT [dbo].[Comic_Universe] ([Comic_Universe_ID], [Comic_Universe_Name]) VALUES (3, N'DCU')
INSERT [dbo].[Comic_Universe] ([Comic_Universe_ID], [Comic_Universe_Name]) VALUES (2, N'Marvel')
INSERT [dbo].[Comic_Universe] ([Comic_Universe_ID], [Comic_Universe_Name]) VALUES (1, N'No Universe')
SET IDENTITY_INSERT [dbo].[Comic_Universe] OFF
GO

# [dbo].[Corporation]

In [ ]:
SET IDENTITY_INSERT [dbo].[Corporation] ON 
INSERT [dbo].[Corporation] ([Corporation_ID], [Corporation_Name]) VALUES (1, N'Stark Industries')
INSERT [dbo].[Corporation] ([Corporation_ID], [Corporation_Name]) VALUES (2, N'Wayne Enterprises')
SET IDENTITY_INSERT [dbo].[Corporation] OFF
GO

# [dbo].[ETL_Error_Log]

In [ ]:
SET IDENTITY_INSERT [dbo].[ETL_Error_Log] ON 
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (1, N'Good Deed not found', N'Peggy Carter,Foiled Hydra,Save city,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (2, N'Person not found', N'Tony Stark,Defeated the Mandarin,Defeat supervillan,', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (3, N'Person not found', N'Melkin Deborah,Help person,Prevented intern from dropping Prod,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (4, N'Translation error', N'Zero Wing,All your base are belong to us,All your base are belong to us,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (5, N'Translation error', N'Zero Wing,Somebody set up us the bomb,Somebody set up us the bomb,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (6, N'Mismatched number of Values', N'Zero Wing,You have no chance to survive make your time,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ETL_Error_Log] OFF
GO

# [dbo].[Gadget]

In [ ]:
SET IDENTITY_INSERT [dbo].[Gadget] ON 
INSERT [dbo].[Gadget] ([Gadget_ID], [Gadget_Name], [Gadget_Desc]) VALUES (1, N'Lasso of Truth', N'Forces the person trapped in it to tell the truth')
INSERT [dbo].[Gadget] ([Gadget_ID], [Gadget_Name], [Gadget_Desc]) VALUES (2, N'Magical Bracelets', N'Deflect any projectile')
INSERT [dbo].[Gadget] ([Gadget_ID], [Gadget_Name], [Gadget_Desc]) VALUES (3, N'Royal Tiara', N'Defensive and offensive Projectile')
INSERT [dbo].[Gadget] ([Gadget_ID], [Gadget_Name], [Gadget_Desc]) VALUES (4, N'Invisible Jet', N'Transportation')
SET IDENTITY_INSERT [dbo].[Gadget] OFF
GO

# [dbo].[Gadget_Order_Form]

In [ ]:
SET IDENTITY_INSERT [dbo].[Gadget_Order_Form] ON 
INSERT [dbo].[Gadget_Order_Form] ([Order_ID], [Order_Date], [Person_ID], [Corporation_ID], [Gadget_ID], [Number_Ordered], [Price_Per_Item], [Tax], [Shipping], [Total_Due]) VALUES (4, CAST(N'2020-10-27T01:39:51.260' AS DateTime), 12, NULL, 1, 2, CAST(100.00 AS Numeric(19, 2)), CAST(10.50 AS Numeric(19, 2)), CAST(10.00 AS Numeric(19, 2)), CAST(220.50 AS Numeric(19, 2)))
INSERT [dbo].[Gadget_Order_Form] ([Order_ID], [Order_Date], [Person_ID], [Corporation_ID], [Gadget_ID], [Number_Ordered], [Price_Per_Item], [Tax], [Shipping], [Total_Due]) VALUES (5, CAST(N'2020-10-27T01:39:51.260' AS DateTime), 12, NULL, 2, 4, CAST(20.00 AS Numeric(19, 2)), CAST(4.20 AS Numeric(19, 2)), CAST(10.00 AS Numeric(19, 2)), CAST(94.20 AS Numeric(19, 2)))
INSERT [dbo].[Gadget_Order_Form] ([Order_ID], [Order_Date], [Person_ID], [Corporation_ID], [Gadget_ID], [Number_Ordered], [Price_Per_Item], [Tax], [Shipping], [Total_Due]) VALUES (6, CAST(N'2020-10-27T01:39:51.260' AS DateTime), 12, NULL, 3, 1, CAST(30.00 AS Numeric(19, 2)), CAST(1.58 AS Numeric(19, 2)), CAST(10.00 AS Numeric(19, 2)), CAST(41.58 AS Numeric(19, 2)))
SET IDENTITY_INSERT [dbo].[Gadget_Order_Form] OFF
GO

# [dbo].[Good_Deed_History]

In [ ]:
SET IDENTITY_INSERT [dbo].[Good_Deed_History] ON 
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (1, 4, NULL, N'Helped Andy cross the road safely', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (2, 2, NULL, N'Saved a cat from a bat', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (3, 4, NULL, N'Consoled Peter over loss of Uncle Ben', CAST(N'2010-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (4, 6, NULL, N'IDERA Ace defeats Dr Deadlock', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (5, 2, NULL, N'Saved a bat', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (6, 4, 12, N'Helped Andy cross the road safely', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (7, 2, 5, N'Saved a cat from a bat', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (8, 4, 6, N'Consoled Peter over loss of Uncle Ben', CAST(N'2010-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (9, 6, 12, N'IDERA Ace defeats Dr Deadlock', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (10, 2, 5, N'Saved a bat', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (11, 8, 14, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (12, 8, 15, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (13, 8, 16, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (14, 8, 14, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (15, 8, 15, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (16, 8, 14, N'Hail Hydra', CAST(N'2020-06-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (17, 8, 15, N'Hail Hydra', CAST(N'2020-06-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (18, 8, 16, N'Hail Hydra', CAST(N'2020-06-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (19, 3, 1, N'Stopped money laundering by Hydra', CAST(N'1950-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (20, 5, 1, N'Foiled Hydra', CAST(N'1950-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (21, 6, 1, N'Stopped band of Red Skull impersonators', CAST(N'1950-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Good_Deed_History] OFF
GO

# [dbo].[Good_Deed_Type]

In [ ]:
SET IDENTITY_INSERT [dbo].[Good_Deed_Type] ON 
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (2, N'Rescue animal')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (3, N'Stop crime')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (4, N'Help person')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (5, N'Save city')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (6, N'Defeat supervillan')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (7, N'HeLp PeRsOn')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (8, N'hElP pErSon')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (9, N'Steal from poor, give to self')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (10, N'Embarrass hero')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (11, N'Dominate world')
SET IDENTITY_INSERT [dbo].[Good_Deed_Type] OFF
GO

# [dbo].[Person]

In [ ]:
SET IDENTITY_INSERT [dbo].[Person] ON 
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (1, N'Peggy', N'Carter')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (3, N'Diana', N'Prince')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (4, N'Linda', N'Danvers')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (5, N'Selina', N'Kyle')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (6, N'May', N'Parker')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (7, N'Natasha', N'Romanoff')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (8, N'Ororo', N'Munroe')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (12, N'Deborah', N'Melkin')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (13, N'Doctor', N'Who')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (17, N'Doctor', N'Doom')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (18, N'Lex', N'Luthor')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (19, N'The', N'Master')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO

# [AK_Alter_Ego]

In [ ]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Alter_Ego]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego]') AND name = N'AK_Alter_Ego')
ALTER TABLE [dbo].[Alter_Ego] ADD  CONSTRAINT [AK_Alter_Ego] UNIQUE NONCLUSTERED 
(
	[Alter_Ego_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [FK_Alter_Ego_Comic_Universe]

In [ ]:
/****** Object:  Index [FK_Alter_Ego_Comic_Universe]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego]') AND name = N'FK_Alter_Ego_Comic_Universe')
CREATE NONCLUSTERED INDEX [FK_Alter_Ego_Comic_Universe] ON [dbo].[Alter_Ego]
(
	[Comic_Universe_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ_Alter_Ego_Person]

In [ ]:
/****** Object:  Index [UQ_Alter_Ego_Person]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]') AND name = N'UQ_Alter_Ego_Person')
ALTER TABLE [dbo].[Alter_Ego_Person] ADD  CONSTRAINT [UQ_Alter_Ego_Person] UNIQUE NONCLUSTERED 
(
	[Person_ID] ASC,
	[Alter_Ego_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IDX_Alter_Ego_Person_Alter_Ego_ID]

In [ ]:
/****** Object:  Index [IDX_Alter_Ego_Person_Alter_Ego_ID]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]') AND name = N'IDX_Alter_Ego_Person_Alter_Ego_ID')
CREATE NONCLUSTERED INDEX [IDX_Alter_Ego_Person_Alter_Ego_ID] ON [dbo].[Alter_Ego_Person]
(
	[Alter_Ego_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ_Alter_Ego_Person_History]

In [ ]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Alter_Ego_Person_History]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person_History]') AND name = N'UQ_Alter_Ego_Person_History')
ALTER TABLE [dbo].[Alter_Ego_Person_History] ADD  CONSTRAINT [UQ_Alter_Ego_Person_History] UNIQUE NONCLUSTERED 
(
	[History_Date] ASC,
	[ChangeType] ASC,
	[Old_Alter_Ego_ID] ASC,
	[Old_Person_ID] ASC,
	[New_Alter_Ego_ID] ASC,
	[New_Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AK_Comic_Universe]

In [ ]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Comic_Universe]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Comic_Universe]') AND name = N'AK_Comic_Universe')
ALTER TABLE [dbo].[Comic_Universe] ADD  CONSTRAINT [AK_Comic_Universe] UNIQUE NONCLUSTERED 
(
	[Comic_Universe_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AK_Corporation]

In [ ]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Corporation]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Corporation]') AND name = N'AK_Corporation')
ALTER TABLE [dbo].[Corporation] ADD  CONSTRAINT [AK_Corporation] UNIQUE NONCLUSTERED 
(
	[Corporation_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AK_Gadget]

In [ ]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Gadget]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget]') AND name = N'AK_Gadget')
ALTER TABLE [dbo].[Gadget] ADD  CONSTRAINT [AK_Gadget] UNIQUE NONCLUSTERED 
(
	[Gadget_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ_Gadget_Order_Form]

In [ ]:
/****** Object:  Index [UQ_Gadget_Order_Form]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND name = N'UQ_Gadget_Order_Form')
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [UQ_Gadget_Order_Form] UNIQUE NONCLUSTERED 
(
	[Order_Date] ASC,
	[Person_ID] ASC,
	[Corporation_ID] ASC,
	[Gadget_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Gadget_Order_Form_Corporation]

In [ ]:
/****** Object:  Index [IX_Gadget_Order_Form_Corporation]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND name = N'IX_Gadget_Order_Form_Corporation')
CREATE NONCLUSTERED INDEX [IX_Gadget_Order_Form_Corporation] ON [dbo].[Gadget_Order_Form]
(
	[Corporation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Gadget_Order_Form_Gadget]

In [ ]:
/****** Object:  Index [IX_Gadget_Order_Form_Gadget]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND name = N'IX_Gadget_Order_Form_Gadget')
CREATE NONCLUSTERED INDEX [IX_Gadget_Order_Form_Gadget] ON [dbo].[Gadget_Order_Form]
(
	[Gadget_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Gadget_Order_Form_Person]

In [ ]:
/****** Object:  Index [IX_Gadget_Order_Form_Person]    Script Date: 10/27/2020 10:40:40 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND name = N'IX_Gadget_Order_Form_Person')
CREATE NONCLUSTERED INDEX [IX_Gadget_Order_Form_Person] ON [dbo].[Gadget_Order_Form]
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DF_Alter_Ego_Person_Alter_Ego_ID]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Alter_Ego_Person_Alter_Ego_ID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Alter_Ego_Person] ADD  CONSTRAINT [DF_Alter_Ego_Person_Alter_Ego_ID]  DEFAULT ((1)) FOR [Alter_Ego_ID]
END
GO

# [DF_Alter_Ego_Person_History_History_Date]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Alter_Ego_Person_History_History_Date]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Alter_Ego_Person_History] ADD  CONSTRAINT [DF_Alter_Ego_Person_History_History_Date]  DEFAULT (getdate()) FOR [History_Date]
END
GO

# [DF__ETL_Error__Error__4D94879B]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__ETL_Error__Error__4D94879B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ETL_Error_Log] ADD  DEFAULT (getdate()) FOR [Error_Timestamp]
END
GO

# [DF_Gadget_Order_Form_Order_Date]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_Order_Date]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_Order_Date]  DEFAULT (getdate()) FOR [Order_Date]
END
GO

# [DF_Gadget_Order_Form_Price_Per_Item]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_Price_Per_Item]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_Price_Per_Item]  DEFAULT ((0)) FOR [Price_Per_Item]
END
GO

# [DF_Gadget_Order_Form_Tax]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_Tax]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_Tax]  DEFAULT ((0)) FOR [Tax]
END
GO

# [DF_Gadget_Order_Form_Shipping]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_Shipping]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_Shipping]  DEFAULT ((0)) FOR [Shipping]
END
GO

# [DF_Gadget_Order_Form_TotalDue]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_TotalDue]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_TotalDue]  DEFAULT ((0)) FOR [Total_Due]
END
GO

# [DF__Good_Deed__Good___4AB81AF0]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Good_Deed__Good___4AB81AF0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Good_Deed_History] ADD  DEFAULT (getdate()) FOR [Good_Deed_Timestamp]
END
GO

# [FK_Alter_Ego_Comic_Universe]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Comic_Universe]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego]'))
ALTER TABLE [dbo].[Alter_Ego]  WITH CHECK ADD  CONSTRAINT [FK_Alter_Ego_Comic_Universe] FOREIGN KEY([Comic_Universe_ID])
REFERENCES [dbo].[Comic_Universe] ([Comic_Universe_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Comic_Universe]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego]'))
ALTER TABLE [dbo].[Alter_Ego] CHECK CONSTRAINT [FK_Alter_Ego_Comic_Universe]
GO

# [FK_Alter_Ego_Person_Person_ID]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Person_Person_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]'))
ALTER TABLE [dbo].[Alter_Ego_Person]  WITH CHECK ADD  CONSTRAINT [FK_Alter_Ego_Person_Person_ID] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Person_Person_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]'))
ALTER TABLE [dbo].[Alter_Ego_Person] CHECK CONSTRAINT [FK_Alter_Ego_Person_Person_ID]
GO

# [FK_Gadget_Order_Form_Corporation]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Corporation]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form]  WITH CHECK ADD  CONSTRAINT [FK_Gadget_Order_Form_Corporation] FOREIGN KEY([Corporation_ID])
REFERENCES [dbo].[Corporation] ([Corporation_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Corporation]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form] CHECK CONSTRAINT [FK_Gadget_Order_Form_Corporation]
GO

# [FK_Gadget_Order_Form_Gadget]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Gadget]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form]  WITH CHECK ADD  CONSTRAINT [FK_Gadget_Order_Form_Gadget] FOREIGN KEY([Gadget_ID])
REFERENCES [dbo].[Gadget] ([Gadget_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Gadget]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form] CHECK CONSTRAINT [FK_Gadget_Order_Form_Gadget]
GO

# [FK_Gadget_Order_Form_Person]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Person]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form]  WITH CHECK ADD  CONSTRAINT [FK_Gadget_Order_Form_Person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Person]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form] CHECK CONSTRAINT [FK_Gadget_Order_Form_Person]
GO

# [CK_Gadget_Order_Form_Number_Ordered]

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Gadget_Order_Form_Number_Ordered]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form]  WITH CHECK ADD  CONSTRAINT [CK_Gadget_Order_Form_Number_Ordered] CHECK  (([Number_Ordered]>=(0) AND [Number_Ordered]<(10000)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Gadget_Order_Form_Number_Ordered]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form] CHECK CONSTRAINT [CK_Gadget_Order_Form_Number_Ordered]
GO

# [Person_itr]

In [ ]:
/****** Object:  Trigger [dbo].[Person_itr]    Script Date: 10/27/2020 10:40:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[Person_itr]'))
EXEC dbo.sp_executesql @statement = N'
-- Alter remaining trigger on Person
CREATE   TRIGGER [dbo].[Person_itr] ON [dbo].[Person]
FOR INSERT
AS
BEGIN

	INSERT INTO Alter_Ego_Person
	SELECT p.Person_ID, ae.Alter_Ego_ID
	FROM inserted as p
		CROSS JOIN Alter_Ego as ae
	WHERE ae.Alter_Ego_Name = ''Average Citizen''
	
END
' 
GO
ALTER TABLE [dbo].[Person] ENABLE TRIGGER [Person_itr]
GO